:root {
    --bg: #F3F4F6;
    --text: #111827;
}

.dark {
    --bg: #0B1220;
    --text: #E5E7EB;
}

/* toggle button styling */
#themeToggle {
    background: #1F2937;
    color: #fff;
    padding: 8px 16px;
    border-radius: 9999px;
    /* full rounded */
    border: none;
    cursor: pointer;
    font-size: 14px;
    transition: background 0.3s;
    position: fixed;
    top: 0;
    right: 0;
    visibility: hidden;
}

#themeToggle:hover {
    background: #374151;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background: #f3f4f6;
    
    background: var(--bg);
    color: var(--text);
    font-family: system-ui, sans-serif;
    transition: background 0.3s, color 0.3s;
}

header {
    background: #1f2937;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;  
}

.container {
    display: grid;
    grid-template-rows: repeat(6 , 50px);
    grid-template-columns: repeat(2 , 1fr);
    gap: 20px;
    padding: 20px;
}

.book-card {
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    text-align: center;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
}

.book-card:hover{
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    background-color: #E5E7EB;
}

.book-card h3 {
    margin: 15px 0;
    font-size: 18px;
    color: #1f2937;
    font-family: amiri;
}

footer {
    background: #1f2937;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}

a {
    text-decoration: none;
}

.back-btn {
      display: inline-block;
      margin: 20px;
      padding: 10px 18px;
      background: #1F2937;
      color: #fff;
      text-decoration: none;
      border-radius: 8px;
      transition: background 0.3s;
}

.back-btn:hover {
      background: #374151;
}

/*! Resposive */

@media(max-width: 730px){

    .container {
        display: flex;
        flex-flow: column nowrap;
    }

    .back-btn {
        padding: 0;
    }

    .b1 { order: 1; }
    .b2 { order: 2; }
    .b3 { order: 3; }
    .b4 { order: 4; }
    .b5 { order: 5; }
    .b6 { order: 6; }
    .b7 { order: 7; }
    .b8 { order: 8; }
    .b9 { order: 9; }
    .b10 { order: 10; }
    .b11 { order: 11; }
    .b12 { order: 12; }

    .none {
        display: none;
    }
}
